# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
print(g_key)

AIzaSyCpLWPU9_hX1oNZNcFalVdN9IZpTinFIzw

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_data = pd.read_csv("../WeatherPy/output_data/cities.csv")

weather_data.head()

,Unnamed: 0,City,lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Neratovice,50.2593,14.5176,280.85,46,0,7.20,CZ,1645465451
1,1,Carangola,-20.7331,-42.0294,300.00,82,68,1.29,BR,1645465452
2,2,Arraial do Cabo,-22.9661,-42.0278,305.13,70,40,5.66,BR,1645465452
3,3,Jamestown,42.0970,-79.2353,285.42,42,0,3.60,US,1645465182
4,4,Zimovniki,47.1483,42.4633,277.26,77,17,3.16,RU,1645465452

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [10]:
# Store 'Lat' and 'Lng' into  locations 
locations = weather_data[["lat", "Lng"]].astype(float)

# Convert Humidity to float and store
# HINT: be sure to handle NaN values
census_data_complete =  weather_data.dropna()
poverty_rate =  weather_data["Humidity"].astype(float)

# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=poverty_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [18]:
#A max temperature lower than 80 degrees but higher than 70.
narrow_down_weather_data = weather_data.loc[ (weather_data["Max Temp"] < 80 )  ]

#Wind speed less than 10 mph.
#narrow_down_weather_data = narrow_down_weather_data.loc[narrow_down_weather_data["Wind Speed"] < 10]

#Zero cloudiness.
#narrow_down_weather_data = narrow_down_weather_data.loc[narrow_down_weather_data["Cloudiness"] == 0]

#Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
#narrow_down_weather_data = narrow_down_weather_data.dropna()

narrow_down_weather_data

Empty DataFrame
Columns: [Unnamed: 0, City, lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Country, Date]
Index: []

In [19]:
weather_data

,Unnamed: 0,City,lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Neratovice,50.2593,14.5176,280.85,46,0,7.20,CZ,1645465451
1,1,Carangola,-20.7331,-42.0294,300.00,82,68,1.29,BR,1645465452
2,2,Arraial do Cabo,-22.9661,-42.0278,305.13,70,40,5.66,BR,1645465452
3,3,Jamestown,42.0970,-79.2353,285.42,42,0,3.60,US,1645465182
4,4,Zimovniki,47.1483,42.4633,277.26,77,17,3.16,RU,1645465452
...,...,...,...,...,...,...,...,...,...,...
555,555,Bilibino,68.0546,166.4372,237.05,99,89,0.11,RU,1645466832
556,556,Neiafu,-18.6500,-173.9833,300.53,89,75,4.12,TO,1645466833
557,557,Shelburne,44.0787,-80.2041,273.73,97,100,3.70,CA,1645466833
558,558,Nyrob,60.7330,56.7202,268.58,94,100,4.26,RU,1645466833
559,559,Gamba,-2.6500,10.0000,299.90,81,99,2.56,GA,1645466833

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure